body {
    margin: 0%;
}

.title {
    text-align: center;
	text-shadow: 0 1px 0 rgba(128, 130, 143, 1);
	margin-top: 0%;
}

.title1 {
    text-align: center;
	text-shadow: 0 1px 0 rgba(128, 130, 143, 1);
	margin-top: 2%;
}

.colorback{
	background: linear-gradient(to right, #a1a1a1, #ffffff, #b4b4b3);
    padding-top: 2%;
    padding-bottom: 2%;
}

#block {
    display: flex;
    padding: 5%;
    padding-top: 2%;
}

#blockpresent {
    position: relative;
	width: 640px;
	padding: 15px;
    margin-right: 2%;
	border: 1px solid #ddd;
	background: #FFF;
	/* CSS3 effects */
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);
    text-align: center;
}

#blockpresent2 {
    position: relative;
	width: 640px;
	padding: 15px;
    margin-right: 2%;
	border: 1px solid #ddd;
	background: #FFF;
	/* CSS3 effects */
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2);
	text-align: center;
    margin-left: 24%;
}

#blockpresent img{
    border: 1px solid rgb(66, 62, 62);
}